// 颜色定义规范
//// 主基调
$color-orange = #FF7F41
$color-regular-blue = #041F47
$color-background = #f3f4f5
$color-background-grew = #e8864c
$color-title-background = #f7f7f7

.car-item-wrapper
  /* use px */
  max-height 120px !important

