@import "@didi/mpx-cube-ui/lib/common/stylus/mixin.styl"

html, body
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none

@font-face
  font-family: 'dinum'
  src: url('https://dpubstatic.udache.com/static/dpubimg/4utneED9hF/dinum.ttf')
